*{
    padding: 0;
    margin: 0;
}

.header{
    padding: 20px;
    background-color: #F2EDE4;
}

/* ---------------------navbar---------------------*/

.nav-list-cont{
    font-family: Poppins;
    font-weight: 600;
}

.nav-icons{
    width: 20px;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
}




/*--------------------- about-------------------*/

.aboutcont{
    background-color: #F2EDE4;
}

.containerPadre{
    background-image: url(../images/bg-image.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    padding: 20px 100px;
    display: flex;
}

.about-cont{
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}

.abouth1{
    color: #ffffff;
    font-family: poppins;
    font-weight: 300;
}

.aboutbtn{
    border-radius: 40px;
    background-color: #121212;
    height: 40px;
    width: 140px;
    border: none;
    cursor: pointer;
}
.btntext{
    text-decoration: none;
    color: #ffffff;
    font-family: Poppins;
    font-weight: 400;
}


.abouttextpadre{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;    
}

.abouttext{
    text-align: center;
    max-width: 700px;
    font-family: Poppins;
    font-weight: 500;
}

.about-link{
    text-decoration: none;
    font-weight: 600;
}

/* ------------------carousel slider--------------------------*/

.carousel-cont{

    background-color: #F2EDE4;
}

.slider{
    width: 100%;
    margin: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
}

.whyus-text{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: Poppins;
}

.slides{
    align-items: center;
    position: relative;
}

.slides h1{
    position: absolute;
    text-align: center;
    justify-content: center;
    top: 40%;
}

.slider img{
    width: 100%;
    height: 400px;
    display: none;
}
img.displaySlide{
    display: block;
    animation-name: fade;
    animation-duration: 1.5s;;
}

.slider button{
    font-size: 2rem;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px 15px;
    background-color: hsla(0, 0%, 0%, 0.5);
    color: white;
    border: none;
    cursor: pointer;
}
.prev{
    left: 0;
}
.next{
    right: 0;
}
@keyframes fade {
    from {opacity: .5}
    to {opacity: 1}
}

/* ------------------featured Cards--------------------------*/

.featured-cont{
    background-color: #F2EDE4;
    padding-top: 10px;
}

.featured-text{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: Poppins;
}

.featured-container{
    padding-bottom: 20px;
}

.card-box{
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    font-family: Poppins;
    border: none !important;
}
.card-body{
    background-color: #F2EDE4;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.card-price{
    text-decoration: none;
    color: #121212;
    font-weight: 700;
}


/* -------------------- form -----------------------*/
.form-box{
    background-color: #735646;
    padding-bottom: 30px;
    padding-top: 20px;
    font-family: Poppins;
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-text{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.form-h2{
    font-size: 45px;
    padding-top: 20px;
    font-weight: 600;
    color: #F2EDE4;
}
.form-h5{
    color: #F2EDE4;
    text-align: center;
    font-weight: 300;
    padding-top: 10px;
}

.formbox{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 700px;
}

.form-control{
    margin: 10px;
}

.form-btn{
    border-radius: 40px;
    background-color: #121212;
    height: 40px;
    width: 140px;
    border: none;
    cursor: pointer;
    color: #F2EDE4;  
}

/* ---------------- footer ------------------*/

.bg-footer{
    background-color: #121212;
    font-family: Poppins;
}

.footer{
    padding-top: 10px;
    padding-bottom: 5px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;

}

.logo-footer{
    font-weight: 200;
    font-size: 20px !important;
}

.ul-footer{
    align-items: center;
    justify-content: center;
    display: flex !important;
    flex-direction: row !important;
    gap: 30px;
}

.footer-item{
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 600;
}


.under-footer{
    display: flex;
    justify-content: space-between;
    color: #F2EDE4;
    font-weight: 200;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* --------------- MEDIA QUERYS* ---------------------------------------------------*/


@media(max-width: 991px) {
        /* Media querys navbar*/

        .nav-list-cont{
            display: none;
        }

        /* Media querys about*/

        .abouth1{
            text-align: center;
        }

        .about-cont{
            padding-top: 0px;
            align-items: center;
        }

        /* media querys slider*/

   
        .slider button {
            position: absolute;
        }

        /* media queys form*/
        .formbox{
            width: 500px;
        }

        /* media querys footer*/

        .ul-footer{
            display: none !important;
        }
}



@media(max-width:530px) {

        /* media querys about*/
        .about-box{
            justify-content: center;
            align-items: center;
            padding-bottom: 0px;
        }



        /* media querys featured-cards*/

        .featured-text p{
            text-align: center;
        }


        /* media querys form*/

        .form-h2{
            text-align: center;
        }

        .formbox{
            width: 300px;
        }
}